<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy5ZQyS5YXrXgShwKnCG1mXFh4I2aG4G0</string>
	<key>GCM_SENDER_ID</key>
	<string>728450168071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sarawakTravelApp</string>
	<key>PROJECT_ID</key>
	<string>sta-app-2e28b</string>
	<key>STORAGE_BUCKET</key>
	<string>sta-app-2e28b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728450168071:ios:8b968754ffe34a95dc41a2</string>
</dict>
</plist>